<h2>Estoque de Camisas</h2>
<router-outlet> </router-outlet>

<table>
  <caption>Estoque de Camisas - Informações sobre jogadores, times e quantidades</caption>
  <thead>
    <tr>
      <th>Jogador</th>
      <th>Time</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Messi</td>
      <td>Barcelona</td>
      <td>20</td>
    </tr>
    <tr>
      <td>Ronaldo</td>
      <td>Juventus</td>
      <td>18</td>
    </tr>
    <tr>
      <td>Neymar</td>
      <td>Paris Saint-Germain</td>
      <td>15</td>
    </tr>
  </tbody>
</table>

